<EditForm Model="@Carteira" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

@*     <div class="form-group">
        <label form="nome">Id: </label>
        <div>
            <InputText id="txtCarteiraNome" @bind-Value="@Carteira!.Id" class="form-control" />
            <ValidationMessage For="@(()=> Carteira.Id)" />
        </div>
    </div> *@
     <div class="form-group">
        <label form="id_carteira">ID_Ativo: </label>
        <div>
              <InputNumber @bind-Value="@Carteira.Id_Ativo" class="form-control" /> 
       @*      <ValidationMessage For="@(()=> Carteira.Id_Ativo.ToString())" />  *@
        </div>
    </div> 
    <br />
    <button type="submit" class="btn btn-success">
        @ButtonTextSubmit
    </button>
    <button class="btn btn-danger"
            @onclick="@(()=> navigation!.NavigateTo("carteira"))">
        @ButtonTextCancelar
    </button>
</EditForm>

@code {

    [Inject]
    public NavigationManager? navigation { get; set; }

    [Parameter]
    public Carteira? Carteira { get; set; }

    [Parameter]
    public string ButtonTextSubmit { get; set; } = "Salvar";

    [Parameter]
    public string ButtonTextCancelar { get; set; } = "Cancelar";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}
