<EditForm Model="@Carteira" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

     <div class="form-group">
        <label form="nome">Id_Ativo: </label>
        <div>
            <InputText id="txtCarteiraNome" @bind-Value="@Carteira!.Id_Ativo" class="form-control" />
            <ValidationMessage For="@(()=> Carteira.Id_Ativo)" />
        </div>
    </div> 
     <div class="form-group">
        <label form="id_carteira">Nome: </label>
        <div>
            <InputText @bind-Value="@Carteira.Nome" class="form-control" />
            <ValidationMessage For="@(()=> Carteira.Nome)" />  
        </div>
    </div> 
    <br />
    <button type="submit" class="btn btn-success">
        @ButtonTextSubmit
    </button>
    <button class="btn btn-danger"
            @onclick="@(()=> navigation!.NavigateTo("carteira"))">
        @ButtonTextCancelar
    </button>
</EditForm>

@code {

    [Inject]
    public NavigationManager? navigation { get; set; }

    [Parameter]
    public Carteira? Carteira { get; set; }

    [Parameter]
    public string ButtonTextSubmit { get; set; } = "Salvar";

    [Parameter]
    public string ButtonTextCancelar { get; set; } = "Cancelar";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}
